<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="jquery.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
      
      
      /* Buat dua kolom yang sama yang mengapung di samping satu sama lain */
      .column {
        float: left;
        
        height: 250px; /* Hanya untuk demonstrasi */
      }
      
      /* Hapus floats setelah  columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      </style>
</head>
<body>
<div class="flex h-full flex-col row column ">
  <div class=" column">
    <img src="assets/sidebackground.png" class="" style="width: 719px; height: 700px;">
  </div>
  

  <div class="mt-2 sm:max-w-sm justify-between column" style="margin-left: 900px;">
    <h2 class="text-2xl font-bold">Reset Password</h2>
    <form action="/api/v1/reset-password?_method=PUT" method="POST">
      <div class="field create-password">
        <label class="mt-5 block text-sm font-medium">Masukkan Password Baru</label>
        <div class="input-field">
          <input type="hidden" id="token" name="token" value="<%= token %>">
          <input
            type="password" placeholder="Password Baru"  autocomplete="current-password" required class="password block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="border-radius: 16px; padding-left: 15px; width: 452px; height: 48px;" id="password" name="password"
          />
          <i class="bx bx-hide show-hide"></i>
        </div>
        <span class="error password-error">
          <i class="bx bx-error-circle error-icon"></i>
        </span>
      </div>
      <div class="field confirm-password">
        <label class="mt-5 block text-sm font-medium">Ulangi Password Baru</label>
        <div class="input-field">
          <input
            type="password"
            placeholder="Ulangi Password"
            autocomplete="current-password" required class="cPassword block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="border-radius: 16px; padding-left: 15px; width: 452px; height: 48px;" id="confirmPassword" name="confirmPassword"
          />
          <i class="bx bx-hide show-hide"></i>
        </div>
        <span class="error cPassword-error">
          <i class="bx bx-error-circle error-icon"></i>
        </span>
      </div>
      <div class="input-field button">
        <input type="submit" value="Simpan" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="border-radius: 16px; padding-left: 15px; width: 452px; height: 48px;" />
      </div>
    </form>
  </div>
  <!-- JavaScript -->
  <script>
    const form = document.querySelector("form"),
  passField = form.querySelector(".create-password"),
  passInput = passField.querySelector(".password"),
  cPassField = form.querySelector(".confirm-password"),
  cPassInput = cPassField.querySelector(".cPassword");


// Hide and show password
const eyeIcons = document.querySelectorAll(".show-hide");

eyeIcons.forEach((eyeIcon) => {
  eyeIcon.addEventListener("click", () => {
    const pInput = eyeIcon.parentElement.querySelector("input"); //getting parent element of eye icon and selecting the password input
    if (pInput.type === "password") {
      eyeIcon.classList.replace("bx-hide", "bx-show");
      return (pInput.type = "text");
    }
    eyeIcon.classList.replace("bx-show", "bx-hide");
    pInput.type = "password";
  });
});

// Password Validation
function createPass() {
  const passPattern =
    /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

  if (!passInput.value.match(passPattern)) {
    return passField.classList.add("invalid"); //adding invalid class if password input value do not match with passPattern
  }
  passField.classList.remove("invalid"); //removing invalid class if password input value matched with passPattern
}

// Confirm Password Validtion
function confirmPass() {
  if (passInput.value !== cPassInput.value || cPassInput.value === "") {
    return cPassField.classList.add("invalid");
  }
  cPassField.classList.remove("invalid");
}

// Calling Funtion on Form Sumbit
form.addEventListener("submit", (e) => {
  e.preventDefault(); //preventing form submitting
  createPass();
  confirmPass();

  //calling function on key up
  passInput.addEventListener("keyup", createPass);
  cPassInput.addEventListener("keyup", confirmPass);

  if (
    !passField.classList.contains("invalid") &&
    !cPassField.classList.contains("invalid")
  ) {
    location.href = form.getAttribute("action");
  }
});
  </script>



</body>
</html>