<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
    <style>
      /* Buat dua kolom yang sama yang mengapung di samping satu sama lain */
      .column {
        float: left;
        height: 100px; /* Hanya untuk demonstrasi */
      }

      /* Hapus floats setelah  columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /* Styling untuk popup */
      .parent-alert {
        /* background-color: #7126b5; */
        width: 100%;
        display: flex;
        justify-content: flex-end;
        opacity: 0; /* Set opacity awal menjadi 0 */
        transition: opacity 0.5s ease; /* Tambahkan transisi opacity */
      }

      .parent-alert.visible {
        opacity: 1; /* Set opacity menjadi 1 saat memiliki class 'visible' */
      }

      .alert-success {
        width: 273px;
        height: 52px;
        text-align: center;
        background-color: #73ca5c;
        border-radius: 12px;
        margin-top: 50px;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="flex h-full flex-col row column">
      <div class="column">
        <img
          src="/assets/sidebackground.png"
          class=""
          style="width: 719px; height: 700px"
        />
      </div>

      <div
        class="mt-2 sm:max-w-sm justify-between column"
        style="margin-left: 900px"
      >
        <div class="row auth-form">
          <h2 class="text-2xl font-bold">Reset Password</h2>
          <!-- form -->
          <form action="/api/v1/reset-password?_method=PUT" method="POST">
            <div class="field create-password">
              <label class="mt-5 block text-sm font-medium"
                >Masukkan Password Baru</label
              >
              <!-- password -->
              <div class="mb-3 input-field">
                <input
                  type="password"
                  class="form-control form-input border border-top-0 border-start-0 border-end-0 rounded-0 p-0"
                  placeholder="Type new password"
                  id="password"
                  name="password"
                  autocomplete="current-password"
                  required
                  class="password block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  style="
                    border-radius: 16px;
                    padding-left: 15px;
                    width: 452px;
                    height: 48px;
                  "
                />
                <input
                  type="hidden"
                  id="token"
                  name="token"
                  value="<%= token %>"
                />
                <i class="bx bx-hide show-hide"></i>
              </div>
              <span class="error password-error">
                <i class="bx bx-error-circle error-icon"></i>
              </span>
            </div>
            <div class="field confirm-password">
              <label class="mt-5 block text-sm font-medium"
                >Ulangi Password Baru</label
              >
              <!-- confirm password -->
              <div class="mb-3 input-field">
                <input
                  type="password"
                  class="form-control form-input border border-top-0 border-start-0 border-end-0 rounded-0 p-0"
                  placeholder="Re-type new password"
                  id="confirmPassword"
                  name="confirmPassword"
                  autocomplete="current-password"
                  required
                  class="cPassword block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  style="
                    border-radius: 16px;
                    padding-left: 15px;
                    width: 452px;
                    height: 48px;
                  "
                />
                <i class="bx bx-hide show-hide"></i>
              </div>
              <span class="error cPassword-error">
                <i class="bx bx-error-circle error-icon"></i>
              </span>
            </div>
            <div class="input-field button">
              <button
                variant="primary"
                type="submit"
                class="btn btn-login my-3"
                autocomplete="current-password"
                required
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                style="
                  border-radius: 16px;
                  padding-left: 15px;
                  width: 452px;
                  height: 48px;
                  background-color: #7126b5;
                  color: white;
                "
              >
                Submit
              </button>
            </div>
          </form>
          <div class="parent-alert">
            <div class="alert-success">
              <p>Reset Password Berhasil</p>
            </div>
          </div>
          <!-- end form -->
        </div>
      </div>
    </div>
    <!-- JavaScript -->
    <script>
      // Hide and show password
      const eyeIcons = document.querySelectorAll(".show-hide");
      eyeIcons.forEach((eyeIcon) => {
        eyeIcon.addEventListener("click", () => {
          const pInput = eyeIcon.parentElement.querySelector("input"); //getting parent element of eye icon and selecting the password input
          if (pInput.type === "password") {
            eyeIcon.classList.replace("bx-hide", "bx-show");
            return (pInput.type = "text");
          }
          eyeIcon.classList.replace("bx-show", "bx-hide");
          pInput.type = "password";
        });
      });

      document.addEventListener("submit", function (event) {
        if (event.target.matches("form")) {
          const parentAlert = document.querySelector(".parent-alert");
          parentAlert.classList.add("visible"); // Tambahkan class 'visible' untuk menampilkan popup

          setTimeout(() => {
            // Redirect to another page with transition effect
            parentAlert.style.opacity = "0"; // Set opacity menjadi 0 sebelum berpindah halaman
            setTimeout(() => {
              window.location.href =
                "https://tes-deploy-production.up.railway.app/login";
            }, 1000); // Set delay sebelum berpindah halaman (dalam milidetik)
          }, 2000); // Set delay sebelum menghilangkan popup (dalam milidetik)
        }
      });
    </script>
  </body>
</html>
