<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
      
      
      /* Buat dua kolom yang sama yang mengapung di samping satu sama lain */
      .column {
        float: left;
        
        height: 250px; /* Hanya untuk demonstrasi */
      }
      
      /* Hapus floats setelah  columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      </style>
</head>
<body>
<div class="flex h-full flex-col row column">
  <div class=" column">
    <img src="/assets/sidebackground.png" class="" style="width: 719px; height: 700px;">
  </div>
  
  <div class="mt-2 sm:max-w-sm justify-between column" style="margin-left: 900px;">
    <div class="row auth-form">
    <h2 class="text-2xl font-bold">Reset Password</h2>
      <!-- form -->
      <form action="/api/v1/reset-password?_method=PUT" method="POST">
        <div class = "field create-password">
          <label class="mt-5 block text-sm font-medium">Masukkan Password Baru</label>
          <!-- password -->
          
          <div class="mb-3 input-field">
              
              <input type="password" class="form-control form-input border border-top-0 border-start-0 border-end-0 rounded-0 p-0" placeholder="Type new password" id="password" name="password"autocomplete="current-password" required class="password block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="border-radius: 16px; padding-left: 15px; width: 452px; height: 48px;"/>
              <input type="hidden" id="token" name="token" value="<%= token %>">
              <i class="bx bx-hide show-hide"></i>
            </div>
            <span class="error password-error">
              <i class="bx bx-error-circle error-icon"></i>
            </span>
        </div>
        <div class="field confirm-password">
          <label class="mt-5 block text-sm font-medium">Ulangi Password Baru</label>
          <!-- confirm password -->
          <div class="mb-3 input-field">
              <input type="password" class="form-control form-input border border-top-0 border-start-0 border-end-0 rounded-0 p-0" placeholder="Re-type new password" id="confirmPassword" name="confirmPassword"autocomplete="current-password" required class="cPassword block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="border-radius: 16px; padding-left: 15px; width: 452px; height: 48px;"/>
              <i class="bx bx-hide show-hide"></i>
            </div>
            <span class="error cPassword-error">
              <i class="bx bx-error-circle error-icon"></i>
            </span>
          </div>
          <div class="input-field button">
          <button variant="primary" type="submit" class="btn btn-login my-3"autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="border-radius: 16px; padding-left: 15px; width: 452px; height: 48px; background-color: #7126B5; color: white " >
            <a
          href="https://c2-backend.up.railway.app/"
          style="text-decoration: none; "
          ></a>
          Submit
          </button>
        </div>
        </div>
      </div>
      <!-- end form -->
  </div>
  </div>
  <!-- JavaScript -->
  <script>
<<<<<<< HEAD
    const form = document.querySelector("form"),
    passField = form.querySelector(".create-password"),
    passInput = passField.querySelector(".password"),
    cPassField = form.querySelector(".confirm-password"),
    cPassInput = cPassField.querySelector(".cPassword");
=======
    // const form = document.querySelector("form"),
    // passField = form.querySelector(".create-password"),
    // passInput = passField.querySelector(".password"),
    // cPassField = form.querySelector(".confirm-password"),
    // cPassInput = cPassField.querySelector(".cPassword");
>>>>>>> cd89013a46bcc1f7346ac5ab666311d96e87af92


// Hide and show password
const eyeIcons = document.querySelectorAll(".show-hide");

eyeIcons.forEach((eyeIcon) => {
  eyeIcon.addEventListener("click", () => {
    const pInput = eyeIcon.parentElement.querySelector("input"); //getting parent element of eye icon and selecting the password input
    if (pInput.type === "password") {
      eyeIcon.classList.replace("bx-hide", "bx-show");
      return (pInput.type = "text");
    }
    eyeIcon.classList.replace("bx-show", "bx-hide");
    pInput.type = "password";
  });
});

const form = document.querySelector("form");
  const passField = form.querySelector(".create-password");
  const passInput = passField.querySelector("#password"); // Menggunakan ID sebagai selektor
  const cPassField = form.querySelector(".confirm-password");
  const cPassInput = cPassField.querySelector("#confirmPassword"); // Menggunakan ID sebagai selektor

  function createPass() {
    const password = passInput.value;

    if (password.length < 8) {
      passField.classList.add("invalid");
    } else {
      passField.classList.remove("invalid");
    }
  }

  function confirmPass() {
    const password = passInput.value;
    const confirmPassword = cPassInput.value;

    if (confirmPassword !== password) {
      cPassField.classList.add("invalid");
    } else {
      cPassField.classList.remove("invalid");
    }
  }

  form.addEventListener("submit", (e) => {
    e.preventDefault(); // Mencegah pengiriman form

    createPass();
    confirmPass();

    if (!passField.classList.contains("invalid") && !cPassField.classList.contains("invalid")) {
    const confirmation = confirm("Apakah Anda yakin ingin mereset password?"); // Menampilkan konfirmasi

    if (confirmation) {
      const successAlert = document.createElement("div"); // Membuat elemen div baru
      successAlert.classList.add("alert-success"); // Menambahkan class "alert-success"

      const successText = document.createElement("p"); // Membuat elemen p baru
      successText.textContent = "Reset Password Berhasil"; // Menetapkan teks pada elemen p baru

      successAlert.appendChild(successText); // Menambahkan elemen p ke dalam elemen div
      document.body.appendChild(successAlert); // Menambahkan elemen div ke dalam body

      setTimeout(() => {
        successAlert.remove(); // Menghapus elemen div setelah beberapa waktu
      }, 3000); // Durasi tampilan alert dalam milidetik

      window.location.href = "https://c2-backend.up.railway.app/"; // Mengalihkan halaman
    }
  }
  });
  </script>
</body>
</html>